body{
    margin: 0;
    
}

#header{
    text-align: center;
    background-color: rgb(70, 64, 64);
    padding: 20px 0px 20px 30px;
}

.smallImage {
    display: none;
}

#welcome h1, h2{
    color: white !important;
    font-family: "MyWebFont";
}

#headerMenu{
    background-color: rgb(95, 60, 57);
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 0px;
}

#headerMenu li{
    display: inline;
    padding: 0px 10px 0px 10px;
}

#headerMenu li a{
    padding: 0;
    font-family: "MyWebFont";
}

#headerMenu li a:hover{
    color: rgb(58, 62, 61);
}

#headerBuscador{
    text-align: center;    
    margin-bottom: 30px;
    margin-top: 30px;
}

#buscador{
    border: 5px solid  rgb(95, 60, 57);
    padding: 8px 8px 8px 8px;
    margin-right: 10px;
    width: 500px;
}

#botonBuscar{
    border: 0px;
    padding: 8px 12px 8px 12px;
    background-color: rgb(95, 60, 57);
    color: white;
    font-family: "MyWebFont";
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(58, 62, 61);
    color: white;
    font-family: "MyWebFont";
    font-size: 12px;
    line-height: 18px;
    padding: 20px 30px 20px 30px;
}

footer p{
    color: white;
    font-family: "MyWebFont";
    font-size: 12px;
    line-height: 18px;
}

.footer{
    width: 30%;
}

.footerMenuSeleccionado{
    text-decoration: underline;
}

#redesSociales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;    
    height: 20%;
} 

#iconosRedesSociales{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
} 

#iconosRedesSociales img{
    width: 70%;
    height: 70%;
} 

#mainSlide{
    width: 100%;
}

#mainCaracteristicas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    padding: 30px 30px 20px 30px ;
}

.caracteristicas{
    width: 30%;
}

.caractIconoTitulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.caractIconoTitulo img{
    width: 8%;
    margin: 0px 10px 10px 0px;
}

#welcome{
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: rgb(70, 64, 64);
}

a{
    text-decoration: none;
    color: white;
    font-family: "MyWebFont", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: "MyWebFont", 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(58, 62, 61);
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
}

h1{
    font-family: "MyWebFont", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(58, 62, 61);
}

h4{
    font-family: "MyWebFont", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
    color: rgb(218, 146, 140);
    margin: 0px 0px 8px 0px;
}

h5{
    font-family: "MyWebFont", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(218, 146, 140);
}


.mainSearcher{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 30px 30px 30px;
}

.mainheader{
    margin: 30px 30px 0px 30px;
}

.mainheader h4{
    text-align: center; 
    font-size: 18px;
}

.mainheader hr{
    border-top: 1px solid rgb(226, 226, 226);
    width: 100%;
    margin-bottom: 10px;
}

.card{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 30px;
    border: solid 1px rgb(220, 220, 220);
    border-top-right-radius: 30px;
    background-color: rgb(240, 240, 240);
    width: 600px;
}

.infoTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 100%;
}

.infoName{
    font-family: "MyWebFont", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
    color: rgb(95, 60, 57);;
    text-transform: uppercase;
}

.infoAnother{
    font-family: "MyWebFont", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(58, 62, 61);
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.iconoCorazon{
    min-width: 14%;
}

.iconoCorazon img{
    max-width: 30%;
    cursor: pointer;
}


@media(max-width: 600px){
    #header{
        flex-direction: column;
        padding: 30px 30px 30px 30px;
        size: 15px;
    }

    .smallImage {
        display: block;
    }

    .bigImage {
        display: none;
    }

    #welcome{
        font-size: 10px;
    }
    
    #headerMenu{
        padding: 14px;
    }

    #headerMenu li{
        display: block;
        padding: 0px 18px 0px 18px;
        line-height: 30px;
        text-align: left;
    }

    #headerBuscador{
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        width: 80%;
    }
    
    #buscador{
        text-align: center;    
        margin: 10px 10px 10px 0px;
        padding: 8px 0px 8px 8px;
        width: 100%;
    }
    
    #botonBuscar{
        padding: 8px 12px 8px 12px;
        margin-bottom: 30px;
    }
    
    #mainCaracteristicas{
        flex-direction: column;
        padding: 30px 30px 0px 30px;
    }
    
    .caracteristicas{
        width: 100%;
        margin-bottom: 20px;
    }

    footer{
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
    }

    .footerApartados{
        width: 100%;
        margin-bottom: 28px;
    }

    footer p{
        font-size: 14px;
        line-height: 20px;
    }

    #redesSociales{
        width: 100%; 
        justify-content: flex-end;   
    } 

    #iconosRedesSociales{
        display: flex;
        flex-direction: row;
        width: 40%;
    } 
    
    #iconosRedesSociales img{
        width: 70%;
        height: 70%;
    } 

    .card{
        margin: 30px 30px 0px 30px;
        width: 80%;
    }
}

@media(max-width: 900px){
    .mainBuscadorGnral{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 30px;
        max-width: 100%;
    }

    .card{
        margin: 30px 30px 0px 30px;
        width: 90%;
    }

}

@font-face {
    font-family: "MyWebFont";
    src: url("./fonts/Middleearth-ao6m.ttf");
  }